@font-face {
    font-family: game of squids;
    src: url("../odin-rps/Game\ Of\ Squids.ttf");
}
body {
    background-color: black;
    margin: 0%;
}
.header {
    background: linear-gradient(to right,  #ffffff 0%,#ffffff 28%,#ffffff 28%,#f01b77 28%,#f01b77 51%,#bdf3fd 51%,#ffffff 51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    font-family: game of squids;
    text-align: center;
    margin: 0%;
}
.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    font-family: game of squids;
}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weapons {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3%;
}
button {
    all: unset;
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
}
img {
    all: unset;
    width: 280px;
    height: 275px;
}
.roundwinner {
    font-family: game of squids;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0%;
}
.winner {
    font-family: game of squids;
    color: white;
    text-align: center;
    font-size: 3.5em;
    margin: 0%;
}
.scorep {
    margin: 0%;
    font-family: game of squids;
    color: #f01b77;
    font-size: 25px;
}
.scorec {
    margin: 0%;
    font-family: game of squids;
    color: #f01b77;
    font-size: 25px;
}
.player {
    margin: 0%;
}
.btn4 {
    all: unset;
    align-self: center;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5em;
    color: #f01b77;
    font-family: game of squids;
}
.btn4:hover {
    color: #ffffff;
}
.btn4:active {
    color: #f01b77;
}
.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn1:hover {
    transform: scale(1.1);
    opacity: 80%;
}
.btn1:active {
    transform: scale(1);
    opacity: 100%;
}
.btn2:hover {
    transform: scale(1.1);
    opacity: 80%;
}
.btn2:active {
    transform: scale(1);
    opacity: 100%;
}.btn3:hover {
    transform: scale(1.1);
    opacity: 80%;
}
.btn3:active {
    transform: scale(1);
    opacity: 100%;
}